[2021-07-29 00:07] meenie commented on #346
Oh man, so I figured it out.  I was using `attachments: [{url: 'https://placeimg.com/640/480/any'}]` on the `ios` object and that was the thing causing errors 🤦🏻.  Once I removed that property, it all started working fine.  From what I saw in the documentation for this feature, it did say that that property would be ignored in favor of the `image` property. It looks like that property makes it blo

[2021-07-29 00:24] meenie commented on #346
I'm reopening this issue because not being able to send down the `attachments` property is breaking functionality. It means I can't put any images on my iOS notifications when the app is in the foreground.

Anyway around this?  I think what I might do for now is in the `NotificationService` is just delete that property out of `notifee_options` if it's there before sending it to the `NotifeeExtensi

[2021-07-29 15:03] helenaford commented on #346
hey, thanks for the report and info. Sorry it's caused some issues for you.  How are you using the `attachments` property in the foreground?  Could you put the `attachments` outside of `notifee_options`. Not sure why it would cause this issue however, I'll look into it. Looks like we need some stronger validation around parsing attachments

[2021-07-29 22:27] SamiChab commented on #335
@ericta I'm facing the same issue. How have you solved this ?

[2021-07-29 23:10] fabyeah opened #347 "[iOS] remote notification: no custom data received when app is in background/terimnated"
When the app is in foreground, everything works. But when the app is backgrounded/terminated, only `title` and `body` fields are received from a remote push notification.

This is the `apns` field for the notification in the firebase cloud function:

[code]

In my RN app I have this event handler:

[code]

and this for foreground messages:

[code]

If the app was in foreground, I get this console.

[2021-07-29 23:24] meenie commented on #346
Hi @helenaford,

Thanks for getting back to me :).  So I'm having to send down the `notifee_options` in two different places as shown in the original issue body.  For `android` I need them to be in a JSON string because FCM will not accept a JSON object for that param.  And then for `apns` I need them to be an object so they can be passed to the `NotifeeExtensionHelper` to display the push notific

[2021-07-30 10:43] VivienTournie opened #348 "Cannot find getDeliveredNotifications in Notifee v1.10.0"
Hello !

I've been able to find all the new APIs included in v1.10.0 except getDeliveredNotifications. Neither in the code nor in the Notifee's documentation.

Can we expect to get it the next release ? I would like to try to see if I can use it for my use case on iOS.

I'm assuming this is an implementation of [ this method ](https://developer.apple.com/documentation/usernotifications/unusernotif

[2021-07-30 11:34] helenaford commented on #348
Hey there, there was a typo in the docs -  You should be able to use `getDisplayedNotificaitons`.

[2021-07-30 11:39] #348 closed

[2021-07-30 11:44] helenaford commented on #340
Ah interesting. I'll take a look - I believe you're correct, they should both work the same.

[2021-07-30 11:44] #344 closed

[2021-07-30 11:54] helenaford commented on #346
Thanks. Interesting to see how you've used the `notifeeOptions` payload and I can see how that makes sense. I guess for that, the ideal fix would be to allow attachments to work on `notifeeOptions` in the `NotifeeExtensionHelper`. I'll mark this as under review and will report back to you on what we can do.

[2021-07-30 12:53] meenie commented on #346
Thank you!

[2021-07-30 12:54] helenaford commented on #347
hey, thanks for the report.

There are plans on our roadmap to populate the data object outside of `notifee_options` but currently, you need to set `data` inside `notifee_options` as you mentioned. This is planned for our next release to forward any custom keys outside of `notifee_options` as `data`.

For the events, any notification that is displayed by notifee will be handled by notifee. So when

[2021-07-30 16:20] helenaford commented on #335
@ericta @SamiChab have you tried using setting the notifications with the alarm manager, it's a recent addition but so far we've heard great things.

E.G. (example [here]( https://github.com/notifee/react-native-notifee/blob/bb70c8f52561623d264c282b523c9d58d766b498/example/src/utils/triggers.ts#L31)):

{
   timestamp: date,
   type: TriggerType.TIMESTAMP,
   alarmManager: {
     allowWhileIdle: tr

[2021-07-31 01:36] carlos187-dev commented on #347
I have the same problem, but I'm using Amazon Pinpoint service . The notification fires but without sound and all the notifee properties. My question is if is there a way to work with amazon Pinpoint and notifee?. Thanks

[2021-08-01 18:29] mars-lan opened #349 "`cancelDisplayedNotifications` also cancels scheduled notifications on Android"
Based on the name &  [documentation](https://notifee.app/react-native/reference/canceldisplayednotifications), I assume the function only cancles displayed/delivered notifications. But it seems that on Android it also cancels all scheduled (but not yet triggered) notifications. Here is an example that demostrates the bug. By commenting out the `cancelDisplayedNotifications` line the notification w

[2021-08-01 18:53] helenaford commented on #349
@mars-lan oh, is that since the latest update? I'll take a look into this ASAP, thanks for bringing it to our attention.

[2021-08-01 18:55] mars-lan commented on #349
@helenaford Tested on both 1.9.2 & 1.10.0.

[2021-08-01 19:02] mars-lan commented on #341
Actually looks like I was hitting a different bug: https://github.com/notifee/react-native-notifee/issues/349.

[2021-08-01 19:10] helenaford commented on #349
@mars-lan thanks for confirming. I can see the issue and have a release shortly.

[2021-08-01 19:38] helenaford commented on #349
@mars-lan should be fixed now (release 1.10.1) 🙏 Release notes will be live soon (https://notifee.app/react-native/docs/release-notes)

[2021-08-01 19:38] #349 closed

[2021-08-01 22:33] mars-lan commented on #349
Thanks for the quick fix!

[2021-08-01 22:59] mars-lan commented on #341
Found the root cause of sound not playing. Previously the custom sound should include the file extension as shown in the [doc](https://notifee.app/react-native/docs/android/behaviour#custom-sound), e.g. `custom_sound.mp3`. Starting 1.10.0 the extension shouldn't be included, e.g. `custom_sound`. Please update the documentation & releate note to reflect that.

[2021-08-02 18:03] meenie commented on #346
Another bug I just ran across is if you pass `null` to `image`, it will crash the `NotifeeExtensionHelper` as well.  I'm now just passing an empty string when I don't have an image to display, but just thought you should know.

[2021-08-02 18:11] mikehardy commented on #346
Oh my! Thank you for reporting that

[2021-08-02 18:13] mikehardy commented on #341
@mars-lan I'm not sure that was an intentional change - I'm going to peel your issue off to a new separate thing - the previous issue was very focused on an android-specific resources identifier vs name issue, the new (possibly follow-on) thing you report is now just down to the name itself

[2021-08-02 18:14] mikehardy opened #350 "Android custom sound not found with extension (`sound.mp3`) is found with no extension (`sound`)"
Found the root cause of sound not playing. Previously the custom sound should include the file extension as shown in the [doc](https://notifee.app/react-native/docs/android/behaviour#custom-sound), e.g. `custom_sound.mp3`. Starting 1.10.0 the extension shouldn't be included, e.g. `custom_sound`. Please update the documentation & releate note to reflect that.

_Originally posted by @mars-lan in htt

[2021-08-03 16:29] helenaford commented on #350
Fixed docs to reflect changes and also to mark the release as a breaking change - updates will be live on the website shortly https://github.com/notifee/documentation/commit/9f7a10b93ff2bc56f558164ac221b366575143f8

[2021-08-03 16:29] #350 closed

[2021-08-03 16:55] mars-lan commented on #350
I wonder if we can do the same for iOS (i.e. without the file extension) for consistency?

[2021-08-03 17:57] mikehardy commented on #350
Yes - sorry I didn't have time to investigate this myself, but @helenaford I was thinking this was more an unintentional regression and not using the extension is bad practice since extensions are really just a convention and the full file name should  be used, apart from the idea that iOS should behave the same.

I was hoping to have time to actually post a fix for this so it used the whole file

[2021-08-03 20:30] bperlman opened #351 "[iOS] Help troubleshooting with the service extension?"
Hello!

Just getting started with a new Notifee license, so far so good. However, I seem to be stuck on getting the Notification Service Extension to work. I've followed the guide in the documentation [here](https://notifee.app/react-native/docs/ios/remote-notification-support) but it doesn't seem to be firing when a notification comes in.

I have tried the suggestion referenced at https://github.

[2021-08-04 01:14] N0v1a commented on #145
![IMG_20210804_064346.jpg](https://user-images.githubusercontent.com/65901984/128106190-b35be194-f7b6-4465-8ed1-c62c973e4c18.jpg)

Can anyone please help me...

[2021-08-04 01:15] N0v1a commented on #145
![IMG_20210804_064503.jpg](https://user-images.githubusercontent.com/65901984/128106283-d9220d19-bc5a-4e97-8985-021946ea5d4a.jpg)

And this too

[2021-08-04 05:49] Suraj3505 commented on #345
Hi, I am facing the same issue. I have the 1.7.0 version. Any solutions?

[2021-08-04 10:43] MitinDmytro opened #352 "[Android] No notifications are received during a phone call"
Hi all!
I don't receive notifications during a phone call.

I used "@notifee/react-native": "^1.7.0" for display notification.

Steps to reproduce:

### Code

<details><summary>Click To Expand</summary>
<p>

#### `package.json`:
[code]

[2021-08-04 12:06] helenaford commented on #352
Hi, could you share some more information please? Are the notifications failing to come through altogether - as in they're not in your notification tray? Or are they not coming through as a heads-up notification?

I'd imagine this is out of our control, but happy to investigate if you can share some more details on the issue.

[2021-08-04 14:44] fabyeah commented on #347
@helenaford thanks for clarifying. The notification was displayed by the notifications service extension. I guess one can't modify the notification in the Javascript in that case, unfortunately, but only in the AppDelegate.m file?

[2021-08-04 14:44] #347 closed

[2021-08-04 18:24] mikehardy commented on #345
Always start by making sure you are on the current stable version of everything, in general, if at all possible. This should resolve with current versions

[2021-08-04 18:27] mikehardy commented on #145
@N0v1a - not enough for anyone to help - https://stackoverflow.com/help/minimal-reproducible-example

[2021-08-05 07:37] RayVR opened #353 "[Android] Question: is it possible to use the system alert UI to show the notification"
I'm somewhat confused as to why the behavior of notifee on Android differs so much from iOS and react-native-push-notification (I am not experienced with the Android platform)

Notifications on Android are essentially hidden from the user until they pull down the system tray. Is there a recommended way to show a notification slide in from top similar to iOS or react-native-push-notification?

[2021-08-05 09:09] MitinDmytro commented on #352
Hi @helenaford!

I mean, notifications come during a phone call and I see its in background handler but they are not displaying.
Notifications are displaying during a Skype call without any problems.

[2021-08-05 11:18] helenaford commented on #353
Hey there, thanks for the question - I think this does trip people up, including myself. It's an Android requirement that if you need the notification as a heads-up notification, the channel needs to have the importance of `high` (https://notifee.app/react-native/reference/androidimportance#high):

[code]
It's easier on iOS as this is the default behavior.

Hope that helps

[2021-08-05 11:21] helenaford commented on #352
@MitinDmytro thanks for the info. When you say `it's in background handler`, are they in the notification tray?  Have you observed notifications from other apps coming through when you have a call?

[2021-08-05 13:02] RayVR commented on #353
This is a huge help.

Thank you!

[2021-08-05 15:08] MitinDmytro commented on #352
No, they are not in the notification tray.
But Viber and WhatsApp notifications show in the notification tray during a phone call.

[2021-08-05 23:50] meenie opened #354 "[Android] How can you set a dynamic custom sound per notification?"
Greetings,

I'm wanting to let my customers pick which sound they want to use for a particular push notification.  I noticed that you _have_ to set the sound option on the group that needs to be created for notifications to even work.  But it seems I'm not able to override the sound within the `android.sound` property you use in `notifee.displayNotification()`.  Is this even possible?  Or am I goi

[2021-08-05 23:54] #353 closed

[2021-08-05 23:58] mikehardy commented on #354
You may have hit on an issue we have right now with android custom sounds needing to be specified without the extension, based on the last part of your comment: https://github.com/notifee/react-native-notifee/issues/350

But to the first part of your question: If I understand correctly, you set the sound on a notification channel, and after channel creation you may not programmatically alter the s

[2021-08-06 00:11] meenie commented on #354
I was _just_ about to come back and close this because it's not possible what I'm trying to do.  Although your idea of dynamically creating one...I'm not sure it's worth the time to spend on doing that haha.

As for your first statement, I did see that and I did manage to get it all working after I updated my channel id from the old one.  Thanks!

[2021-08-06 00:11] #354 closed

[2021-08-07 01:09] N0v1a commented on #145
![IMG_20210806_045356.jpg](https://user-images.githubusercontent.com/65901984/128583262-c891d969-404f-4384-b164-5a604c8d8358.jpg)

This is the error

[2021-08-07 01:11] N0v1a commented on #145
apply plugin: 'com.android.application'
apply plugin: 'com.chaquo.python'
buildscript {
    ext.kotlin_version = "1.5.21"
    repositories {
        google()
        mavenCentral()
        maven { url "https://chaquo.com/maven" }
        //noinspection JcenterRepositoryObsolete
    }
    dependencies {
        //noinspection AndroidGradlePluginVersion
        classpath 'com.android.tools.build:gra

[2021-08-07 01:11] N0v1a commented on #145
↓my build.gradle(:app)

[2021-08-07 01:12] N0v1a commented on #145
plugins {
    id 'com.android.application'
    id 'kotlin-android'
}

android {
    compileSdkVersion 30
    buildToolsVersion "30.0.3"

    defaultConfig {
        applicationId "com.nova.chmlimp"
        minSdkVersion 16
        targetSdkVersion 30
        versionCode 1
        versionName "1.0"

        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
        ndk {

[2021-08-07 03:44] mikehardy commented on #145
Start with this: https://github.com/mikehardy/rnfbdemo/blob/master/make-demo.sh
It works
Add what you need to until it breaks, post that as a repo

[2021-08-08 17:53] helenaford commented on #338
@gminator hi, sorry for the delay, I've taken a look and you are right - there was a typo to the docs in the example code which counteracted the text.

If you change the following code:
[code]
to
[code]

it should persist. Hope that helps.

[2021-08-09 08:40] RayVR opened #355 "[iOS] help with remote notifications"
Hi, I've followed the instructions for the remote notification service on iOS and setup our license files per the docs, I have also added the code necessary for the isHeadless prop injection. Android remote notifications (FCM) are working.

Questions:
1) will remote notifications, sent through FCM, trigger on a physical device with a dev build? (selecting Product -> Run with a physical device targ

[2021-08-09 21:52] meenie opened #356 "[iOS] Should background events work with the Notifee Service Extension?"
Greetings,

I've got the service extension working reliably now, but it seems the `notifee.onBackgroundEvent()` handler is not being called when the iOS app is in a kill state or just simply in the background.  Should those events, i.e. `DELIVERED` be coming through when using the Notifee service extension?

[2021-08-10 23:14] #351 closed

[2021-08-10 23:22] helenaford commented on #351
@bperlman thanks for your question, I see you've just closed it.  Did you manage to resolve the issue? We appreciate any feedback, if there's anything we can make clearer on the docs, please let us know.

[2021-08-11 01:34] bperlman commented on #351
Was a stupid mistake on my part :) was sending a data-only notification with FCM so it wasn't triggering. I still haven't got it working properly so I'll likely be reaching out again but, at least I know the Service Extension is firing! Thanks for checking in!

[2021-08-11 09:27] mathews-p commented on #283
Hi @daviddean99 did you get a solution for continuously illuminate the screen & play a continuous notification sound ??

[2021-08-11 10:01] daviddean99 commented on #283
Hi @mathews-p, no, unfortunately we didn't. If it were added to notifee then we would be very happy!

[2021-08-11 10:03] helenaford commented on #351
@bperlman ah nice, no problem at all, glad you got further. And, please do. Anything we can do to make it easier or help, don't hesitate to reach out again :)

[2021-08-11 10:37] helenaford commented on #355
Hi @RayVR,

1. yes
2. no, tokens aren't handled by notifee but react-native-firebase and they work in dev
3. the example in the code you pasted above should trigger the notification service extension to display a notification with notifee.

Hope that helps.

[2021-08-11 11:23] helenaford commented on #356
Hi, thank you for your question - glad to hear you've got it working reliably. It will be handled by RNFB `firebase.messaging().setBackgroundMessageHandler` but we could change this to be only handled by notifee. If you didn't have RNFB installed, it would be handled by `notifee`. Hope that helps.

[2021-08-11 12:33] helenaford commented on #352
OK thanks, I've marked this as under review and I'll try and recreate the issue although it sounds as if it could be out of our control

[2021-08-11 12:33] JakeHedman opened #359 "[Android] Wrong quick action triggered"
I have three actions on my notification and for about 1/20 taps the next action is triggered instead of the tapped one (second instead of first, third instead of second).

Notification:
[code]

Notifee 1.10.1
React native 63

[2021-08-11 12:43] mikehardy commented on #283
I believe that is an alarm, not a notification, those are different parts of device API surface area entirely, there is probably a package for this?

[2021-08-11 13:27] mikehardy commented on #359
That is most unexpected! Do you have a platform / model / version combo that this shows up on, or is it all of them?

e.g. "reproduced on Android 10 OnePlus 6T" or "shows up on every device I've tried, including specifically Android emulators with debug builds, ios simulators in release only" etc

I ask because this *may* be a race condition thing and be dependent on execution environment, so it m

[2021-08-11 13:35] JakeHedman commented on #359
It is indeed reproduced on Android 10 OnePlus 6T, and on an Android 11 emulator.

[2021-08-11 13:36] mikehardy commented on #359
Nice choice of device (I picked that arbitrarily but it's my real phone ;-) ) - Always easier when it's available on an emulator in debug though. Thanks for the extra information

[2021-08-11 13:49] ryanbrink opened #360 "[Android] Start foreground service on boot?"
I'm using the foreground service functionality, but I'd like it to start on boot and not require the user to open the App to launch it. I don't see anything in the docs, and my attempts to create something that receives the `BOOT_COMPLETED` action to start the Notifee service don't seem to work.

[2021-08-11 13:51] helenaford commented on #359
@JakeHedman which event handler is getting triggered? is it the `getInitialNotification`, `onBackgroundEvent` or `onForegroundEvent` or all of them?

[2021-08-11 13:55] helenaford commented on #360
Oh, interesting, do you have a use case to help understand why this is needed?

My initial thought is that you're displaying the notification when the app is in a headless state (quit) and need the notification to be foreground service 🤔

[2021-08-11 14:17] ryanbrink commented on #360
Good point: in my case it's because of location tracking, which isn't directly related to Notifee. However, as an App can only have a single foreground service at a time I'd like to have it launched on boot, even though there may be nothing notification-related to handle.

Background notifications do work as you mentioned.

[2021-08-11 14:19] mikehardy commented on #283
Hmm - I took a look through the react-native ecosystem at alarm packages (there were a couple) but they are all lightly used (judging by github star popularity, npmjs.com download rate), while at the same time also fairly simple and with significant overlap to the notification functionality here.

It is definitely a different are of device APIs but this could be a reasonable addition here on a roa

[2021-08-11 14:51] mikehardy commented on #360
Interesting inter-operation case. I also use react-native-background-geolocation-android in one my projects, and one thing I notice there is that they have a static id for their android notification. The implication is that you may then post to that notification if need be, for inter-operation cases like this.

I don't believe that is a formal feature of the library there but if my understanding i

[2021-08-11 20:43] meenie commented on #356
Hi @helenaford,

Ahhhhh, okay, ya, I do have RNFB installed. I have some code in that callback that skips any iOS events in there because the Notifee service extension was taking care of showing the notification and then 10 seconds later it was showing again because the same message comes through to the javascript side in the `firebase.messaging().setBackgroundMessageHandler()` callback.

If you c

[2021-08-11 20:43] #356 closed

[2021-08-11 22:05] bperlman opened #361 "[iOS] Help - Duplicate Notifcation with NotifeeNotificationService only when notifee_options provided"
Following the directions exactly from the documentation, when providing the notifee_options key as below, I get two notifications displayed when the app is in a killed state. One with just the plain notification, and one with the image attached. I only get the double notification on iOS as well.

[code]

[2021-08-11 23:10] JakeHedman commented on #359
At the moment I can only reproduce this locally with `onForegroundEvent`, but bug reports from the wild shows that it is happening from notifications when the app is closed too. The notification in question shows up when work starts and it's most likely the app has been closed for ~15 hours since the last work day ended.

We received a screen recording from a customer showing how option 2 being ta

[2021-08-12 06:40] mathews-p commented on #283
thank you @daviddean99 for the update.

[2021-08-12 20:56] systemride commented on #262
Hello! We are having this issue as well - any update on ETA for this?

[2021-08-12 22:12] bperlman commented on #361
So update on this - I added some logging to adjust titles on notifications so I could figure out if they were being displayed via the Notification Service, Background Handler, or Foreground Handler in the app.

The **plain text notification** is from the `NotifeeNotificationService`. I added a line to adjust the title before the `NotifeeExtensionHelper` takes it from there. The title gets adjusted

[2021-08-13 07:03] RayVR commented on #355
I'll leave this here in case anyone else happens to have this unfortunate issue.

My firebase project for this application had a bundle ID I assigned long before the iOS app was in the app store. That bundle ID did not match the profile I created in the Apple developer console.

Creating a new project with the correct bundle ID in firebase, replacing the GoogleService-Info.plist file and rebuildin

[2021-08-13 07:03] #355 closed

[2021-08-13 11:53] helenaford commented on #359
OK thanks for the info, I will look to see if I can reproduce it. Are there specific steps you do to trigger it, or is it simply display a bunch of notifications and then press an action? Do you have to press an action one after the other in quick succession?

[2021-08-13 14:07] mikehardy commented on #355
If I had $1 for every time I have also suffered a sort-of-self-inflicted wound like that, *especially* with iOS configuration....

Glad you got it sorted out!

[2021-08-13 14:08] mikehardy commented on #359
I was thinking have the handler register which action was pressed then display that as a new notification with a fresh set of action buttons :-). Could turn this into an ad-supported game perhaps

[2021-08-13 16:21] JakeHedman commented on #359
Yup, just a simple display and press an action! I do not have to press an action after the other or something like that, just one time will do (which is why our customers are complaining about it :laughing:).

If I tap an action button multiple times on the same notification it will trigger the correct action each time or the wrong action each time, so it seems like something is messed up on the n

[2021-08-13 16:23] mikehardy commented on #359
Your hunch is probably correct in your second paragraph, thanks again for all the repro information

[2021-08-13 16:29] JakeHedman commented on #359
This also happens in version 0.12.1 btw!

[2021-08-14 23:19] helenaford commented on #356
@meenie thanks for the insights - definitely can see how we can simplify these events. and yeah, the reason why there's an 8 - 10 second delay to the `setBackgroundMessageHandler` is intentional in RNFB to ensure js has loaded before events are sent.

[2021-08-14 23:31] mikehardy commented on #356
For what it's worth, I believe with a recent PR (https://github.com/invertase/react-native-firebase/pull/5547) the 8-10 second delay is no longer a thing! Now the iOS app does a lock wait in native code and uses the call to setBackgroundMessageHandler from JS as a signal to un-cork the events, so it should be processed "as quickly as possible". This is quite new (and quite welcome!) - first releas

[2021-08-14 23:40] helenaford commented on #361
1. `setBackgroundMessageHandler` is both background and quit states (reference: https://rnfirebase.io/messaging/usage#message-handlers)
1a. the `setBackgroundMessageHandler` isn't reliable and not always called which you are correct in the reason why we added this support in Notifee
2. yes, the `setBackgroundMessageHandler` will fire whenever there's an incoming message (notification/data), if you

[2021-08-15 00:05] helenaford commented on #356
@mikehardy ah amazing, thanks for the clarification on that - good to hear that's no longer needed, a great improvement 😎

[2021-08-15 17:35] bperlman commented on #361
1 - 3 - Thank you! I wrapped my head around that a little more over the last few days (I should have updated this in the meantime) and changed the function invoked by `setBackgroundMessageHandler` so that it doesn't call `displayNotification` if a notification key is present so that seems like that's right - so now it's just a matter of getting the NSE working properly.

4: Thats where I am at now

[2021-08-18 13:06] MitinDmytro commented on #352
Hi @helenaford
Do you have any feedback about the current issue?

[2021-08-18 17:35] bperlman commented on #361
So where I am at now, I need help getting the NSE to actually make notifee post the message, as it's requiring a workaround to handle initial notifications since the `getInitialNotification` method isn't going to work since the messages are being posted by firebase.

I am able to make things work by using the firebase `onNotificationOpenedApp` method for now, but basically, the NSE is doing nothin

[2021-08-19 01:39] vincent1114 opened #365 "[Android] Notification Sound Volume adjustment?"
Is there a way on android to do what critical alert does in IOS? Change volume of notification regardless of the device volume? For emergency notifications.

[2021-08-19 12:29] liamjones opened #366 "Installation alongside react-native-firebase - android_background_activity_names needed?"
I think the answer to this one is no but just to check - if we have Notifee and react-native-firebase in the same app, we don't need to set any `android_background_activity_names` in rn-firebase for Notifee specifically, right?

https://rnfirebase.io/app/json-config#android_background_activity_names

[2021-08-19 12:54] mikehardy commented on #366
Hi there! That's a maybe. It's for brownfield /mixed native + react-native apps that may have a few activities, and some of them should not be considered for foreground status. It's a pretty rare case I think

[2021-08-19 13:03] #366 closed

[2021-08-19 15:47] mikehardy commented on #365
Hi there!
Unfortunately not, this is the full set of things Android gives us:
https://developer.android.com/training/notify-user/channels#importance

...and further the system may lower the important, *or* (most importantly!) the user may lower the importance, the user is in control after you create the channel, the user always owns the channel

The channel allows an "override do not disturb" sett

[2021-08-19 16:15] vincent1114 commented on #365
Thanks for the quick reply!

Currently I am trying to create an intent to open the Do not Disturb Permission screen under settings->Apps->Special access screen for user to set our app to bypass do not disturb and mute/vibrate mode , and changing volume to max and ringer mode to normal to do a 'critical alert' on android. OpsGenie by Atlassian does something similar.

I think opening the special pe

[2021-08-19 16:23] mikehardy commented on #365
That's a good idea - I'll re-focus the subject here and tag it up as a request

[2021-08-21 18:53] helenaford commented on #361
@bperlman can you share what's in the native logs, filtering by `Notifee`? If you have your app running, and the title is changing from the NSE, it could be an issue with the image itself - there should be some logs in the console. Another thing to try is testing with a project (an example app) that doesn't require `use_frameworks!`  and see if that works?

[2021-08-21 23:35] helenaford commented on #345
I'm closing this as there's no solution to fix this - any solution we push will require your users to update the app, which isn't going to fix this.

If you are facing this issue, please update the library to the latest version.

[2021-08-21 23:35] #345 closed

[2021-08-23 20:13] bperlman commented on #361
Is there somewhere I can send that log output to you so it's not in a public issue? (Easier than having to scrub it all).

The image works fine when the app is in the foreground and Notifee is handling the display of the notification on the JS side, and the image shows up fine on Android, so the image being broken seems strange.

Unfortunately, I don't have time to create a blank project to test t

[2021-08-23 20:31] mikehardy commented on #361
@bperlman you can try our Discord server https://discord.gg/pSGPWHgd then I think you may be able to DM either `@helenaford`  or `@mikehardy` there?

[2021-08-24 14:09] bperlman commented on #361
@helenaford I've sent you a request on Discord for whenever you have time, can continue there. Thanks again for your help!

[2021-08-26 11:08] adar2378 opened #369 "Update messages in conversation notification"
Hi, I'm trying to implement MessagingStyle notification for android. What would be the best option to update existing notification with newer messages? Or should I cancel the previous notification of the same conversation and create a new one with updated messages? Thanks in advance.

[2021-08-26 16:30] #369 closed, assigned to nobody

[2021-08-28 00:50] #338 closed

[2021-08-28 00:54] helenaford commented on #346
@meenie please find the fix in the latest release v1.11.0 where you can pass in `attachments` and it will also handle null values.
See [docs](https://notifee.app/react-native/docs/ios/remote-notification-support#edit-the-payload) for more information.

[2021-08-29 12:34] mars-lan opened #372 "getInitialNotification deprecated?"
The [release note for 1.11.0](https://notifee.app/react-native/docs/release-notes#1110) mentions that

However, I cna't seem to find the note in either https://notifee.app/react-native/docs/events or https://notifee.app/react-native/reference/getinitialnotification?

Also is the deprecation only limited to iOS? Does that mean `onForegroundEvent` will automatically receive the intial notification?

[2021-08-29 14:42] helenaford commented on #372
Hi @mars-lan, there should be a note in the reference docs (here https://notifee.app/react-native/reference/getinitialnotification) - but it seems to be missing 🤔 , I also have a WIP branch with other changes for the user docs that I'm about to push up today.

The motivation towards this change is that the `onForegroundEvent` automatically receives the initial notification. There haven't been any

[2021-08-29 16:29] adar2378 opened #373 "Get data payload from Android DisplayedNotification"
Hi, I'm adding data while displaying a notification via `displayNotification` method. But later on, when I call `getDisplayedNotifications` method I get a list of `DisplayedNotification`. But all of them have `notification.data: undefined`

How should get the custom data for example conversation id or any other custom data from the displaying notification?

Thanks in advance.

[2021-08-31 10:13] adar2378 commented on #373
Turned out android don't provide data payload with displaying notifications

[2021-08-31 10:13] #373 closed

[2021-08-31 11:01] happyfloat commented on #372
If we receive the message in `onForegroundEvent`, is there some indication it was the "initial one"? Or do we just assume that a PRESS event will do the same action in both cases?

[2021-08-31 12:42] mars-lan opened #374 "Attempt to invoke virtual method 'android.content.Intent android.app.Activity.getIntent()' on a null object reference"
Seems like not only was `getInitialNotification`  deprecated for iOS in 1.11.0 (See https://github.com/notifee/react-native-notifee/issues/372), the native Android code was also removed, which led to crashes when calling `getInitialNotification`.

[code]

[2021-08-31 13:01] helenaford commented on #374
oh no. there's wasn't any changes to `getInitialNotification()` except to populate it for full-screen actions. I will look into this immediately. Our e2e tests passing, this is very surprising. thanks for letting us know 🙏

[2021-08-31 13:06] mars-lan commented on #374
Actually my bad. It seems that `getInitialNotification` is still there but it tried to invoke `getIntent` on a null pointer. This is a new crash since 1.11.0 though.

[2021-08-31 13:11] helenaford commented on #374
@mars-lan no problem.  I can see the issue, pushing up a fix but out of curiosity where in your application do you call `getInitialNotification`? Seems like the activity is null for some reason. Maybe it depends on where in the app it's being called before it has a chance to be created 🤔

[2021-08-31 13:31] mikehardy commented on #374
In RNFB we have checks for null activity and null intent off the activity, they are both corner cases with decreasing hit rates but both have come up with certain combos of other modules

[2021-08-31 13:42] mars-lan commented on #374
It was invoked inside the handled for notification action press. Maybe the main activity has been killed in the background already and wasn't created by that point?

[2021-08-31 13:45] helenaford commented on #372
Added a note https://github.com/notifee/react-native-notifee/commit/29015957054f321861dce6021588fa44a7e062aa which will be live shortly to the docs site.

@happyfloat yeah, it'll be the press action which is how I use it in my own apps. Apple has deprecated `UIApplicationLaunchOptionsLocalNotificationKey ` which is used to detect the initial notification and recommends using `didReceiveNotificatio

[2021-08-31 14:15] mikehardy commented on #374
This is potentially a problem for correctly passing the data then right? No activity implies no intent. Because of the bridge being separate from the activity it's possible to have no current activity but there must be some way to eventually get the initial notification data. This is a real struggle in a react native context, handling these initial items

[2021-08-31 14:22] helenaford commented on #374
@mars-lan pushed up a fix in v1.11.1.

@mikehardy yeah, seems very strange that it would be null. Maybe it should only be called initially and not in any event handlers 🤔 But either way, it's good to be safe and prevent it from throwing an error, I guess 😅 .

[2021-08-31 14:22] #374 closed

[2021-08-31 14:50] AyoubMoustahfid opened #375 "Error: Notifee native module not found."
I installed the package, but when I want to run the application it shows me this problem "" Error: Notifee native module not found. "", please give me a solution to this problem

![image](https://user-images.githubusercontent.com/47373251/131524885-ae172c1d-ddf8-4905-b4e6-bcd670d326dc.png)

[2021-08-31 14:51] AyoubMoustahfid commented on #375
Error: Notifee native module not found

[2021-08-31 14:53] AyoubMoustahfid commented on #158
I installed the package, but when I want to run the application it shows me this problem "" Error: Notifee native module not found. "", please give me a solution to this problem

![image](https://user-images.githubusercontent.com/47373251/131524885-ae172c1d-ddf8-4905-b4e6-bcd670d326dc.png)

[2021-08-31 14:57] mikehardy commented on #375
Hi there!
You have not installed the package correctly / completely.
This is a common issue with react-native native modules (like Notifee) and not really a notifee bug, it's a problem with your process.
You have not included any version information or platform so I'm not certain what the solution is and will close this as lacking information, but it probably involves remembering to do `pod instal

[2021-08-31 14:57] #375 closed

[2021-08-31 15:34] AyoubMoustahfid commented on #375
Hi there!
I used these steps but same problem
[image: image.png]

[2021-08-31 15:38] helenaford commented on #375
@AyoubMoustahfid `notifee` does not work for expo apps that aren't ejected, unfortunately. Hope that helps

[2021-08-31 15:41] AyoubMoustahfid commented on #375
Ok, thanks for the clarification.

Le mar. 31 août 2021 à 16:38, Helena Ford ***@***.***> a
écrit :

[2021-08-31 16:11] helenaford commented on #375
no problem, sorry for the inconvenience. I'm looking at how we can add a note somewhere in the docs.

[2021-08-31 16:13] AyoubMoustahfid commented on #375
No problem, thanks!

Le mar. 31 août 2021 à 17:11, Helena Ford ***@***.***> a
écrit :

[2021-09-01 14:07] christophemenager opened #377 "Replace all default FCM notifications with notifee"
After hours of research and tries, I am faced to this question : _is it possible to rely ONLY on notifee to display all notifications received from firebase cloud messaging,_

Let me explain :

1. Initially, I bought a notifee licence in order to display notifications **while app is in foreground state**, in order to "patch" a missing feature of default fcm
2. Then I realized notifee was much more

[2021-09-01 15:01] mikehardy commented on #377
I believe what you want on iOS is the notification extension helper, which allows you to intermediate the notifications that firebase-ios-sdk would generate, when you send FCM with a notification block

On android data-only deliverability is not bad, so it's iOS as the platform to focus on

https://notifee.app/react-native/docs/ios/remote-notification-support

@helenaford is my thinking here corre

[2021-09-01 16:15] mars-lan commented on #290
Any progress on this one? :)

[2021-09-01 17:18] mikehardy commented on #290
I must admit I was dreading the ping on this one - all I can offer is that the previous one from @sambegin is one of only a handful of messages I leave marked as unread in my software mail box. I have not made specific progress on it but am still slowly working towards it on the stack of todo items I've got in my Invertase queue. Cold comfort probably, but it is on the radar.

[2021-09-01 18:53] happyfloat commented on #377
I'm having the exact same questions and with my current project I try to make it work also for background/push notifications.

In my last project I only used notifee to set the badgeCount and everything else was done by FCM notification object...

Currently I'm going the way @mikehardy describes, so for iOS I still use the notification object, but it will be extended locally with the extension hel

[2021-09-02 13:33] AyoubMoustahfid commented on #375
Hello
Will the package be suitable for expo ??

Le mar. 31 août 2021 à 17:13, Ayoub Moustahfid ***@***.***>
a écrit :

[2021-09-02 13:43] mikehardy commented on #375
We've seen the config plugins effort and a community member contributed an implementation of same for react-native-firebase (also an Invertase effort) so it's possible, but you're the first and only to ask, so it hasn't been a priority so far. Perhaps with react-native-firebase having that capability it makes more sense at this point, since they work together. Not sure how you would handle the not

[2021-09-02 13:54] AyoubMoustahfid commented on #375
Ok thanks you

Le jeu. 2 sept. 2021 à 14:43, Mike Hardy ***@***.***> a
écrit :

[2021-09-02 16:10] adar2378 opened #378 "Disable fcm auto notification trigger when app in background"
Hi, I want to disable the FCM automatic notification for android when the app is killed or running in background, but unfortunately, I can not send a data-only payload. Is there any other way to override this feature provided by FCM SDK?

[2021-09-02 17:03] liamjones opened #379 "Website "My account" - cannot change user role"
I hope this is the right project to report this on?

There's someone in our account who I am trying to change from 'Admin' to 'User'. It says 'Updating...' but never completes. JS console says:

` Uncaught (in promise) You have specified an invalid role, role must be one of "10,5".`

And the PATCH payload shows:

`{"role":null}`

I _think_ there might be a second bug too but I invited the user ove

[2021-09-02 17:33] mikehardy commented on #379
Hey - not sure what's going on or why but commenting to let you know I/we've got :eyes: on this, thanks for raising it. Will try to find root cause

[2021-09-02 17:38] Salakar commented on #379
Thanks for the report @liamjones - @mikehardy just pinged this over to me; could you give me the team id and the user who's role you're trying to lower and I'll manually update it for you whilst this bug is looked into

[2021-09-02 17:50] liamjones commented on #379
Thanks @Salakar, team ID is `HNzY0xx2XMWHeU6YQV70` and the user is dorisaward.

[2021-09-02 17:51] liamjones commented on #379
@Salakar would you also be able to confirm that the outstanding invites on that team are for the User role when they're accepted? They should all be.

[2021-09-02 18:15] Salakar commented on #379
Fix was quicker than I thought it'd be so deployed a fix - you should be able to set the role now yourself - please try it out.

I've also deployed an update to the invites list - it now states the role the user was invited with. Hope it helps.

Mike

[2021-09-02 18:15] #379 closed

[2021-09-02 18:47] mikehardy commented on #378
Hi there! The firebase-android-sdk will always attempt to post a notification if you use a notification block.

On devices Android 8 / Oreo and higher it will attempt to post that notification to the default notification channel that you have configured in (possibly by setting in firebase.json if you are using react-native-firebase), so it is possible you can have a default notification channel th

[2021-09-03 07:32] liamjones commented on #379
That's working for me now.

Awesome!

Thanks very much for the quick fix!

[2021-09-04 11:52] vonovak opened #380 "[docs] please clarify NotifeeExtensionHelper behavior in background and foreground"
Hello,
I'm trying to use NotifeeExtensionHelper to control notifications on ios. I'm not using firebase at all on ios.

current behavior:

- in the bg, the notification extension gets executed and then notification is displayed via calling `NotifeeExtensionHelper.populateNotificationContent`. There is no interaction with JS. This is my expected behavior so this is fine.

- in the fg, the notificat

[2021-09-04 14:09] mikehardy commented on #380
Hey @vonovak 👋 can you share more about your implementation, specifically I think it would help to see your package.json dependencies (sometimes there are, for instance, interactions with other modules like splash screens or who knows what), and the cloud message you send? If it were firebase sending an FCM I'd ask for that JSON but I'm not sure what sort of message payload you're sending with you

[2021-09-04 22:57] vonovak commented on #380
hello @mikehardy and thanks for the comment; I'm happy to provide more information, but for now I just wanted to ask what the intended behavior of `NotifeeExtensionHelper.populateNotificationContent` is when the app is in the background and (more importantly for me) when it is in the foreground.

The reason I'm asking is that the documentation at https://notifee.app/react-native/docs/ios/remote-no

[2021-09-05 10:05] alloystory opened #381 "getDisplayedNotifications returning wrong ids"
to reproduce:
[code]

expected:
[code]

actual:
[code]

this happened on Android 11; i didnt test this scenario on other platforms.

[2021-09-05 10:07] adar2378 commented on #381
Same issue. I can not cancel those notifications using the returned ids :|

[2021-09-05 15:48] mikehardy commented on #381
Oh no, that doesn't seem to match expectations. We've got :eyes: on it, thank you for reporting @alloystory and confirming @adar2378 - need to investigate if this is usage issue or a bug as a first pass, and if an error, correct of course

[2021-09-06 07:23] christophemenager commented on #377
Thanks a lot @mikehardy I actually missed this part from the documentation, I am sorry :/

Thanks @happyfloat, I will try to do exactly the same as you did, I will tell you here if it works ok :)

I think it could be great to add a documentation section to answer this issue, it will help people increase their usage of this nice library and avoid them from wasting time like I did !

[2021-09-06 14:15] mikehardy commented on #377
@helenaford this is a reasonable documentation request, it's probably the hottest area of activity (ios notification extension helper) and area of largest friction (by volume of issues) in this repo - "how to take full control of notifications *and* enjoy reliable delivery", right?

[2021-09-06 14:25] helenaford commented on #377
Thanks all. This is a helpful insight. We've been planning on making it easier to use notifee events with any notification, whether it's local or remote. I will have more information by the end of this week on when these changes will be released. And, along with that will be a revamp of the docs to make the onboarding as painless as possible 🙏

[2021-09-06 21:44] christophemenager commented on #377
Really good news @helenaford !  Looking forward to it 😃

[2021-09-07 06:13] adar2378 commented on #378
Thank you very much for the suggestions @mikehardy One more thing.

https://github.com/invertase/react-native-firebase/blob/master/packages/messaging/android/src/main/java/io/invertase/firebase/messaging/ReactNativeFirebaseMessagingReceiver.java

Is this where I should cut off the code to stop it from automatically showing notifications when the app is killed?

[2021-09-07 10:19] fachri-adakerja commented on #151
Hi @mikehardy,

thanks for your work on this issue, my company uses the Notifee on our apps and 1 of our company app is currently broken because of this issue since we just upgrade to target API Lever 30.

We updating the API Level to 30 because of an announcement from google, below

[code]

We hope this issue can be fixed and the Notifee team is able to do the release for a fix before November. S

[2021-09-07 13:59] mikehardy commented on #378
Hmm - perhaps, please note I have not tried these ideas, they are just hypotheses for experiments to run, I have a reasonable hit rate on hypotheses here but that just means like 1 out of 2 or 3 work, so be warned and test carefully ;-)

It might be possible to cut this out

...at the manifest merge step using the `tools:node=remove` strategy in your AndroidManfiest.xml for the app (https://stacko

[2021-09-07 15:14] mars-lan commented on #290
@mikehardy thanks for the transparency. I understand that there's always competing priorities. It took me nearly a year to get https://github.com/notifee/react-native-notifee/issues/126 to close so this one is still young :P

[2021-09-07 15:27] mikehardy commented on #290
You always log the tough ones @mars-lan ! 😆

[2021-09-09 10:06] AyoubMoustahfid commented on #375
Hello
Is the package programmed to expo cli

Le jeu. 2 sept. 2021 à 14:52, Ayoub Moustahfid ***@***.***>
a écrit :

[2021-09-09 14:48] mikehardy commented on #375
No it is not configured to use expo in any way, I believe you must eject from expo to use it.

[2021-09-10 10:08] andidev opened #382 "Tag is null"
When displaying a notification with tag
[code]

and the calling
[code]

notification tag is null when it should be `DELIVERY`
[code]

[2021-09-10 10:10] andidev commented on #382
Also creating multiple local notifications with tags does not only keep last notification as stated in docs. Maybe tags is not supposed to work for local notifications?

[2021-09-10 10:42] andidev commented on #381
@adar2378
however cancelling works with using the original id `notifee.cancelNotification('abc')`

[2021-09-10 11:20] andidev commented on #381
Same problem occurs if string is a number string `123`

[2021-09-12 15:48] vonovak commented on #380
@mikehardy @helenaford would you please be able to confirm what a call to `NotifeeExtensionHelper.populateNotificationContent` does, when the app is in the foreground? :)

Thank you!

[2021-09-12 16:51] helenaford commented on #382
Ah, thanks for reporting the issue. sorry for the inconvenience. I've just taken a look. I can see why this would be the case. Will mark this as a bug.

 We are also working on a way to cancel by tag which will be needed if we fix this.

[2021-09-12 16:52] helenaford commented on #151
Fixed in release v2.0.0 (https://notifee.app/react-native/docs/release-notes#200)

[2021-09-13 03:42] mikehardy commented on #380
Sorry @vonovak - I've been traveling a while and I will still be traveling until the 21st so I can't look just yet...

[2021-09-13 03:44] mikehardy commented on #151
Should be noted this became mandatory with the move to android targetSdkVersion 30, not sure why? But this should keep everyone moving along as they move those targets up

[2021-09-13 21:24] adar2378 commented on #381
@andidev  yes, but for unassigned ids it is impossible to detect and cancel the notification by using getDisplayedNotification API

[2021-09-15 07:52] jan-happy opened #383 "repeatFrequency is ignored"
Hi,
I use v 2.0.0 with RN 0.65.1 and cannot get weekly repeating items to work.
Here is my code:
[code]

[2021-09-15 14:05] marcjulianfleck opened #384 "[iOS] Notification sound does not stop on cancelNotification()/cancelDisplayedNotification()"
If I trigger a notification on iOS from the setBackgroundMessageHandler() of Firebase with a custom sound - which is around 25 seconds - and after some time call
`notifee.cancelNotification("OWN_ID") `
or
`notifee.cancelDisplayedNotification("OWN_ID")`
the notification gets removed. However, the sound keeps playing till the end. On the other hand, if I press on the notification, the sound stops im

[2021-09-15 15:45] mikehardy commented on #383
Hi @jan-happy - can you share with us if you have ever had this working? Stated differently: did it work on previous versions and this is a regression, or is this the first time you are attempting it, and it is not working now + has never worked?

[2021-09-15 15:50] mikehardy commented on #384
A quick search on this one indicates it may have different behavior depending on whether it is the simulator or a real device, and varying on iOS versions

@marcjulianfleck - can you specify the exact testing environment (versions, real device or simulator) when you see this behavior?

https://stackoverflow.com/questions/19540516/how-stop-local-notification-sound-after-cancel-local-notification
ht

[2021-09-15 16:17] marcjulianfleck commented on #384
@mikehardy yes, I already saw a few similar issues on stackoverflow. However, it seems not be fixed after iOS 8.0 in my case.

My environment:

- iPhone X (real device) with iOS 14.7.1
- Notifee Version: 2.0.0
- react-native Version: 0.64.2
- react-native-firebase Version: 12.7.3 (In case it matters since I show the notification out of the BackgroundMessageHandler)

[2021-09-15 16:39] jan-happy commented on #383
I switched from react-native-notifications because it did not work there and thought: Well, this is a commercial product, so I‘m sure it will work there 😜
And no, I did not try it with older versions…

[2021-09-16 15:00] princefishthrower commented on #243
Having the same issue. We already have an image asset called ic_launcher, but we only see the square. Do I need the full path? For example in our `AndroidManifest.xml` we have `android:icon="@mipmap/ic_launcher"`

though neither `ic_launcher` or `@mipmap/ic_launcher` are working, we still get the square (color property is working at least)

Looking for any additional tips here.

[2021-09-16 15:30] mikehardy commented on #243
Not sure exactly but there is an example app - https://github.com/notifee/react-native-notifee/tree/master/example - have you tried it? I believe it has the icon correct (though maybe I'm wrong and it needs an update so it shows how to do this better...)

[2021-09-16 16:53] princefishthrower commented on #243
@mikehardy - thanks for the quick reply. I finally got it working, I didn't realize that when generating the assets you need to specify the asset type of `Notification Icons` - which was what I was missing.

[2021-09-17 16:29] mikehardy commented on #383
@helenaford this is actually part of our e2e suite isn't it? :thinking: @jan-happy if it's in our API docs, it's certainly supposed to work, sorry for the hassle

[2021-09-18 23:23] siddharthpvi opened #385 "await notifee.displayNotification not firing notification on release build"
I am scheduling local notification. It works in when use react-native run-android but when i make android release build at that time local notification is not firing.

I have already spent 2 days and finally decided to raise issue here.

Hope i will get the right answer in quick time.

Thanks

[2021-09-19 14:37] mikehardy commented on #385
Hi there! Can you please include your package.json, and details on your testing environment regarding what device model and Android version is in use for the debug and release tests? You may be able to learn more from using adb logcat also, unfiltered

[2021-09-19 20:29] princefishthrower commented on #385
@mikehardy Same for me. Notifications work fine on the android simulators and on iPhone devices but they do not appear on android devices. I've followed the [installation instructions](https://notifee.app/react-native/docs/installation) and am using the latest notifee version, 2.0.0.

@siddharthpvi did you find a fix here?

[2021-09-19 21:06] mikehardy commented on #385
I'm going to have to try some more tests, at least for me right now in my dev app environment I'm popping up notifee notifications ![Screenshot_20210919-160406.jpg](https://user-images.githubusercontent.com/782704/133943010-fe0840fa-bd10-4a95-916c-a8ab2fca6b07.jpg)

[2021-09-19 21:49] princefishthrower commented on #385
@mikehardy - is this on a real device or a simulator?

[2021-09-20 00:03] mikehardy commented on #385
Real device. OnePlus 6T android 11

[2021-09-20 00:09] helenaford commented on #385
@princefishthrower @siddharthpvi did you set up your license key in the app (https://notifee.app/react-native/docs/license-keys)?

[2021-09-20 00:13] helenaford commented on #384
Mmm interesting, I think this is out of our control 😕

[2021-09-20 00:29] mikehardy commented on #385
Oh sorry for the spam but for the avoidance of doubt it is a full release build

[2021-09-20 00:30] helenaford commented on #383
@jan-happy while we review this on our end, I wonder if this could be due to the device sleeping and not prioritizing the alarm?

If you reopen the app, does the alarm eventually come through? I'd recommend trying to create the notification with the `alarmManager` prop   ([docs](https://notifee.app/react-native/docs/triggers#timestamp-trigger)) :

[code]

But, if that still isn't working, there ar

[2021-09-20 11:11] #382 closed

[2021-09-20 13:13] devpolo commented on #383
Hi everyone 👋

what's the point to use the `AlarmManager` rather than the default `WorkManager`?

[2021-09-20 13:49] Stephane-Parent commented on #359
Hi, we use Notifee 1.4 here and discover this issue recently. It happens on Android 10 (Samsung S9) quite often. But cannot reproduce on Android 8 (Samsung S7) even with many very quick taps.

Any progress on that fix?

[2021-09-21 07:45] jan-happy commented on #383
@helenaford Sorry for not specifying the issue better in the first place: It was on an iPhone, iOS 14.5

[2021-09-21 09:34] alloystory opened #387 "[android] round image for MessagingStyle notifications"
i suppose this issue could be an extension of https://github.com/notifee/react-native-notifee/issues/199

what i want is to make the AndroidPerson's icon round, like in https://notifee.app/react-native/docs/android/styles#messaging
![image](https://user-images.githubusercontent.com/38717582/134147713-edf1f612-6086-4714-ae68-6ff9469996bc.png)

right now, what i see is this
![telegram-cloud-photo-si

[2021-09-21 09:36] helenaford commented on #383
@jan-happy ah cool. I shouldn't have assumed it was Android 😄 mmm 🤔 I will take a look at this on our side as I'm not sure why it isn't working. Have you tested with other repeat frequencies, just to rule out anything else?

[2021-09-21 09:37] helenaford commented on #383
@devpolo there were some issues around background restrictions on Android, and it seems like AlarmManager is restricted less, and delivers trigger notifications more reliably.

[2021-09-21 09:44] helenaford commented on #387
Hi, thanks for the detailed report. I believe those images in the first screenshot were already round in the raw file.

As you said, this seems like this could be an extension of #199, where we open up the ability to round the image for `MessageStyle` notifications. Will mark this under review.

[2021-09-22 10:07] #384 closed

[2021-09-22 10:09] helenaford commented on #381
Hi all, this is now fixed in release v3.0.0 (release notes [here](https://notifee.app/react-native/docs/release-notes#300))

[2021-09-22 10:09] #381 closed

[2021-09-22 10:10] jan-happy commented on #383
@helenaford I also tested it with the HOURLY frequency, which does not work either.

[2021-09-22 10:11] helenaford commented on #382
fixed in release v3.0.0 (https://notifee.app/react-native/docs/release-notes#300)

[2021-09-22 10:15] #372 closed

[2021-09-22 10:31] helenaford commented on #372
Added an extra note to the docs https://github.com/notifee/documentation/commit/259baad7a911740407875dc08253a64f8db01714

[2021-09-22 10:43] helenaford commented on #385
Could you try the latest release(v3.0.0)?

[2021-09-22 12:32] devpolo commented on #383
Having the same issue here.

[2021-09-22 12:50] helenaford commented on #383
Oh this is really weird. I've tried on ios 14.5 and it came through. if you do getTriggerNotiications, is your trigger notification listed?

[2021-09-22 12:55] jan-happy commented on #383
Yes, but only the initial trigger, not the repeating ones.

[2021-09-22 13:10] princefishthrower commented on #385
@mikehardy @helenaford - the cause was likely the licensing issue @helenaford mentioned. For now we are going with an (admittedly less feature) solution with [`react-native-notifications`](https://github.com/wix/react-native-notifications).

[2021-09-22 13:19] helenaford commented on #383
Sorry, should have clarified, I can see the repeating ones. If it's there in `getTriggerNotifications` after the initial one it should be there. I can do some more tests but from my initial one with an `hourly` repeatfrequency, it's coming through

[2021-09-22 16:54] helenaford commented on #385
@princefishthrower thanks for letting us know what the source of the bug was. Will close this.

[2021-09-22 16:54] #385 closed

[2021-09-23 11:22] AmirDiafi commented on #145
This happens to me when I upgrade the Gradle version.
what I did is I uninstall the library and clean, then install it again, and boom its works as sharp.

[2021-09-23 13:21] JakeHedman commented on #359
Minimal example to reproduce: https://github.com/JakeHedman/notifeeWrongActionButton

It's just a fresh `react-native init` project with some code to show a notification in App.js. Press the red area to display a notification, then tap "first" to trigger a console.log. It should log "first", but once every blue moon it will log "second".

I use this command to keep tapping automatically: `while tr

[2021-09-23 16:51] Noah-Vivial opened #392 "`getDisplayedNotifications` returns notifications with id of zero (android)"
Hello

We're having an issue with the data returned from `getDisplayedNotifications`. We're runnning the latest notifee v3, and we would like to cancel notifications delivered by FCM (not created using displayNotification). In IOS we the call returns all data, including the UUID:

[code]
however when the call on an android returns zero as the ids
[code]

Of course the notification is not canceled

[2021-09-23 19:02] helenaford commented on #392
Thanks @Noah-Vivial for the detailed report. I've marked this as needs review. I know if it is a remote notification on Android the id will always be 0, but if you do `cancelNotification(id, tag)` it should work. I Will double-check this, it might be a bug.

[2021-09-23 19:16] Noah-Vivial commented on #392
thanks for the response..

 we are searching the displayed notifications for the tag, then calling `cancelDisplayedNotification`

[code]

it finds the correct notification, but `cancelDisplayedNotification` doesn't remove the notification.